footer.text-center
			.footer-above
				.container
					.row
						.footer-col.col-md-4
							
						.footer-col.col-md-4
							
						.footer-col.col-md-4
							
			.footer-below
				.container
					.row
						.col-lg-12
							h3 Sigueme
							ul.list-inline
								li
									a.btn-social.btn-outline(href='https://facebook.com/RitaaKarmen')
										i.fa.fa-fw.fa-facebook
								//- li
								//- 	a.btn-social.btn-outline(href='#')
								//- 		i.fa.fa-fw.fa-google-plus
								li
									a.twitter-timeline(href='https://twitter.com/hashtag/yosoyritaortiz', data-widget-id='740982237244620800')
										i.fa.fa-fw.fa-twitter
								li
									a.btn-social.btn-outline(href='https://pe.linkedin.com/in/ritacarmenortizochoa')
										i.fa.fa-fw.fa-linkedin
								li
									a.btn-social.btn-outline(href='https://github.com/ritakarmen')
										i.fa.fa-fw.fa-github
		