nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand.page-scroll(href='#page-top') 
						span.light RITA ORTIZ
							img.kinna(src="images/BBTA.png", type="image/png") 
				.collapse.navbar-collapse.navbar-right.navbar-main-collapse
					ul.nav.navbar-nav.navbar-right
						li.hidden
							a(href='#page-top')
						li.page-scroll
							a(href='#portfolio') PORTAFOLIO
						li.page-scroll
							a(href='#about') SOBRE MI
						li.page-scroll
							a(href='#conocimiento') CONOCIMIENTO
						li.page-scroll
							a(href='#contacto') CONTACTO

		<img src="images/BBTA.png" type="image/png" class="kinna">